BasedOnStyle: LLVM

TabWidth: 4
IndentWidth: 4
ColumnLimit: 80
SortIncludes: false
SpacesInParentheses: false
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortIfStatementsOnASingleLine: true

UseTab: Never
PointerAlignment: Left
BreakBeforeBraces: Allman
AlignArrayOfStructures: Right
SpaceBeforeParens: ControlStatements
AlignConsecutiveBitFields: Consecutive

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
  AlignPPAndNotPP: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: true
PenaltyBreakAssignment: 100

Cpp11BracedListStyle: true

AlignConsecutiveAssignments:
  Enabled: true
  PadOperators: true
  AlignCompound: true
  AcrossComments: false
  AcrossEmptyLines: false
  AlignFunctionPointers: false
  AlignFunctionDeclarations: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
  AlignCaseColons: false
  AcrossEmptyLines: true
